@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <p>
            Sorry, an error occurred while processing your request.
        </p>
    </body>
</html>