<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jacobsoft.amd" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.dynamic" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.static" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.bundled" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
  </configSections>
  
  <jacobsoft.amd
    xmlns="http://namespaces.jacobsoft.com/AmdConfiguration.xsd"
    loaderUrl="require.js">
    <shims>
      <module id="foo" export="bar" dependencies="baz, bat"/>
      <module id="baz" export="baz" dependencies="bat"/>
      <module id="bat"/>
    </shims>
  </jacobsoft.amd>
  
  <jacobsoft.amd.dynamic
    loaderUrl="require.js"
    mode="dynamic"/>
  
  <jacobsoft.amd.static
    loaderUrl="require.js"
    mode="static"/>
  
  <jacobsoft.amd.bundled
    loaderUrl="require.js"
    mode="bundled"/>
</configuration>
