<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jacobsoft.amd" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.dynamic" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.static" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.bundled" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.versioning" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.versioning.noassembly" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.versioning.assemblynotfound" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.versioning.typenotfound" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.versioning.incompatible" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.versioning.nodefaultconstructor" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.minifying" type="Jacobsoft.Amd.Config.AmdConfigurationSection, Jacobsoft.Amd"/>
  </configSections>
  
  <jacobsoft.amd
    xmlns="http://namespaces.jacobsoft.com/AmdConfiguration.xsd"
    loaderUrl="require.js">
    <shims>
      <module id="foo" export="bar" dependencies="baz, bat"/>
      <module id="baz" export="baz" dependencies="bat"/>
      <module id="bat"/>
    </shims>
    <bundles>
      <bundle id="bundleA">a b c</bundle>
      <bundle id="bundleB">d, e</bundle>
    </bundles>
  </jacobsoft.amd>
  
  <jacobsoft.amd.dynamic
    loaderUrl="require.js"
    mode="dynamic"/>
  
  <jacobsoft.amd.static
    loaderUrl="require.js"
    mode="static"/>
  
  <jacobsoft.amd.bundled
    loaderUrl="require.js"
    mode="bundled"/>

  <jacobsoft.amd.versioning 
    loaderUrl="require.js"
    versionProvider="Jacobsoft.Amd.Test.TestVersionProvider, Jacobsoft.Amd.Test"/>

  <jacobsoft.amd.versioning.noassembly
    loaderUrl="require.js"
    versionProvider="Jacobsoft.Amd.Test.TestVersionProvider"/>

  <jacobsoft.amd.versioning.assemblynotfound
    loaderUrl="require.js"
    versionProvider="Jacobsoft.Amd.Test.TestVersionProvider, Jasonsoft.Amd.Test"/>

  <jacobsoft.amd.versioning.typenotfound
    loaderUrl="require.js"
    versionProvider="Jacobsoft.Amd.Test.InvalidVersionProvider, Jacobsoft.Amd.Test"/>

  <jacobsoft.amd.versioning.incompatible
    loaderUrl="require.js"
    versionProvider="Jacobsoft.Amd.Test.JavaScriptTestHelper, Jacobsoft.Amd.Test"/>

  <jacobsoft.amd.versioning.nodefaultconstructor
    loaderUrl="require.js"
    versionProvider="Jacobsoft.Amd.Test.StaticVersionProvider, Jacobsoft.Amd.Test"/>

  <jacobsoft.amd.minifying
    loaderUrl="require.js"
    minifier="Jacobsoft.Amd.Test.TestMinifier, Jacobsoft.Amd.Test"/>
</configuration>
