<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jacobsoft.amd" type="Jacobsoft.Amd.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.dynamic" type="Jacobsoft.Amd.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.static" type="Jacobsoft.Amd.AmdConfigurationSection, Jacobsoft.Amd"/>
    <section name="jacobsoft.amd.bundled" type="Jacobsoft.Amd.AmdConfigurationSection, Jacobsoft.Amd"/>
  </configSections>
  <jacobsoft.amd 
    xmlns="http://namespaces.jacobsoft.com/AmdConfiguration.xsd"
    loaderUrl="require.js"/>
  <jacobsoft.amd.dynamic
    loaderUrl="require.js"
    mode="dynamic"/>
  <jacobsoft.amd.static
    loaderUrl="require.js"
    mode="static"/>
  <jacobsoft.amd.bundled
    loaderUrl="require.js"
    mode="bundled"/>
</configuration>
