@using Jacobsoft.Amd

@section Title {
    Sample Site
}

@section Head {
    @Html.InvokeModule(
        "home", 
        new Dictionary<string, object> { { "options", new { name = "Jimbo" } } })
}

<div id="message"></div>